<main style="height: 100%; display: table-row;">
  <h2 class="my-5 d-flex justify-content-center">О нас</h2>
  <div class="d-flex justify-content-center">
    <div class="container-fluid row">
      <div class="col-md-4">
        <h3 class="my-5 d-flex justify-content-center">Проект</h3>
      </div>
      <div class="col-md-4">
        <h3 class="my-5 d-flex justify-content-center">Создатели</h3>
      </div>
      <div class="col-md-4">
        <h3 class="my-5 d-flex justify-content-center">Сервис</h3>
      </div>
    </div>
  </div>

</main>
