<main style="height: 100%; display: table-row;">

  <div class="d-flex justify-content-center">
    <div class="container-fluid row d-flex justify-content-center">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <h3 class="mb-3 mt-5  d-flex justify-content-center">Проект</h3>
        <p class="d-flex justify-content-center">текст текст текст текст текст текст текст текст текст текст
          текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст
          текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        </p>
      </div>
      <div class="col-lg-3">
        <h3 class="mb-3 mt-5  d-flex justify-content-center">Создатели</h3>
        <p class="d-flex justify-content-center">текст текст текст текст текст текст текст текст текст текст текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст
          текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        </p>
      </div>
      <div class="col-lg-3">
        <h3 class="mb-3 mt-5  d-flex justify-content-center">Сервис</h3>
        <p class="d-flex justify-content-center">текст текст текст текст текст текст текст текст текст текст текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст
          текст текст
          текст
          текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
          текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        </p>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>

</main>
