<main style="height: 100%; display: table-row;">
  <form class="d-flex justify-content-center my-50" style="margin-top: 10% !important">
    <div class="card text-center" style="width: 50em;">
      <div class="card-body">
        <h5 class="card-title">Ваш результат</h5>
        <div class="mb-3">
          Адрес сайта: {{url}} <br>
          Статус: {{result}}
        </div>
      </div>
    </div>
  </form>
</main>
