<main style="height: 100%; display: table-row;"  data-allSearch>
    <div class="title">
      <h1>выявление правонарушений в сфере защиты персональных
        данных на интернет-сайтах</h1>
    </div>
  <form name='urlForm' class="d-flex justify-content-center my-50"
    style="margin-top: 10% !important, flex-direction: column">
    <div class="card text-center" style="width: 50em;">
      <div class="card-body">
        <h5 class="card-title">Введите адрес сайта</h5>
        <div class="mb-3">
          <input type="text" class="form-control" id="url" name="url">
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
      </div>

    </div>

  </form>

</main>
