<main style="height: 100%; display: table-row;" data-allSearch>
  <h2 class="my-5 d-flex justify-content-center">Регистрация в систему</h2>

  <form action="singup" method="POST" class="d-flex justify-content-center my-50"
    style="margin-top: 10% !important, flex-direction: column">

    <div class="card text-center" style="width: 50em;">
      <div class="card-body">
        <h5 class="card-title">Введите имя</h5>
        <div class="mb-3">
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Иван">
        </div>

        <h5 class="card-title">Введите фамилию</h5>
        <div class="mb-3">
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Иванов">
        </div>

        <h5 class="card-title">Введите почту (логин)</h5>
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@email.ru">
        </div>

        <h5 class="card-title">Придумайте пароль</h5>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>

  </form>
</main>

