<main style="height: 100%; display: table-row;"  data-allSearch>
  <h2 class="my-5 d-flex justify-content-center">Вход в систему</h2>

  <form action="singin" method="POST" class="d-flex justify-content-center my-50"
    style="margin-top: 10% !important, flex-direction: column">

    <div class="card text-center" style="width: 50em;">
      <div class="card-body">
        <h5 class="card-title">Введите логин</h5>
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@email.ru">
        </div>
     
        <h5 class="card-title">Введите пароль</h5>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
    
  </form>
</main>
