{{!-- <form id="registrationFrom" action="">
  <input type="text" name="name" id="name">
  <input type="text" name="login" id="login">
  <input type="password" name="password" id="password">
  <button type="submit">registration</button>
</form> --}}

<h2 class="my-5 d-flex justify-content-center">Регистрация</h2>
<form action="singin" method="POST" class="d-flex justify-content-center" style="margin-top: 1% !important">
  <div class="card text-center col-md-8 offset-md-2" style="width: 50em;">
    <!-- <div class="col-md-8 offset-md-2"></div> -->
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </div>
</form>
